footer {
    background-color: #333333;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-top: 6rem;
    p {
        color: white;
        font-size: 0.75rem !important;
    }
}
