$brand-yellow: hsl(49, 100%, 50%);

#landingSection {
    height: 200vh;

    .heroImg {
        height: 100vh;
        position: sticky;
        top: 0;
        overflow: hidden;
    }

    .sologan {
        z-index: 10;
        position: absolute;

        .wordmarkWhite {
            font-size: 10rem;
            font-weight: 600;
            line-height: 13.5rem;
            color: white;
            text-shadow: 10px 10px 10px #7d7d7d;

            // color: transparent;
            // -webkit-text-stroke: 1px rgb(172, 172, 172);
        }
        .wordmarkBlack {
            font-size: 10rem;
            font-weight: 600;
            line-height: 13.5rem;
            color: black;
            text-shadow: 10px 10px 10px #b1b1b1;
            // color: transparent;
            // -webkit-text-stroke: 2px white;
            // text-stroke: 2px white;
        }
    }

    .bgImageBefore {
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0px;
        z-index: 1;
    }

    .bgImageAfter {
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0px;
    }
}

.navbar {
    display: flex;
    padding: 1rem 0;

    .logo {
        margin: 0.5rem 0;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
    }

    div {
        display: flex;
        justify-items: center;
        a {
            font-size: 1.25rem;
            font-weight: 600;
            margin-left: 2.5rem;
            align-self: center;
            color: white;
            text-shadow: 1px 1px 1px #5a5a5a;
        }
    }
}
