$brand-yellow: hsl(49, 100%, 50%);

#landingSection {
    height: 5000px;

    .heroImg {
        height: 100vh;
        position: sticky;
        top: 0;
        overflow: hidden;
    }

    .sologan {
        z-index: 10;
        position: absolute;

        .wordmarkWhite {
            font-size: 10rem;
            font-weight: 600;
            line-height: 13.5rem;
            color: white;
            text-shadow: 10px 10px 10px #7d7d7d;
        }
        .wordmarkBlack {
            font-size: 10rem;
            font-weight: 600;
            line-height: 13.5rem;
            color: #333333;
            text-shadow: 10px 10px 10px #7d7d7d;
        }
    }

    .rawImage {
        position: absolute;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background-image: url("../images/beforeAfter/set1Before.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .renderedImage {
        position: absolute;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background-image: url("../images/beforeAfter/set1After.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

.logo {
    margin: 0.5rem 0;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.navLink {
    display: flex;
    justify-items: center;
    a {
        font-size: 1.25rem;
        font-weight: 600;
        margin-left: 2.5rem;
        align-self: center;
        color: #333333;
    }
}
