.logo {
    margin: 0.5rem 0;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.navLink {
    display: flex;
    justify-items: center;

    a {
        font-size: 1.25rem;
        font-weight: 400;
        margin-left: 2.5rem;
        align-self: center;
        color: #222222;
        text-underline-offset: 0.375rem;
        text-decoration-thickness: 0.125rem;
    }
}
