#ourWorks {
    // background-image: url("../images/1.png");
    height: 3000px;
}

.our-works {
    height: 100vh;
    background-color: aqua;
    top: 0;
    position: sticky;
    overflow: hidden;
}

.project-one {
    width: 100%;
}
